@charset "utf-8";
html,body{margin: 0;padding: 0;}
.gifpop {
    -webkit-overflow-scrolling: touch;
    top: 150px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: transparent!important;
    -webkit-background-clip: content;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0,0,0,0)!important;
}
.pop{width: 360px;height: 380px;border-radius: 15px;background: #5eabf6;box-sizing: border-box;padding: 10px;margin-top: 60px;margin-left: 10px; position: relative;}
.canclebtn{width: 35px;height: 35px;background: url(/public/static/img/gif/cancel.png) center no-repeat;position: absolute;top: -13px;right:-9px;cursor: pointer;}
.pop_content{border-radius: 15px;background: #fff;width: 100%;height: 100%;}
.flex_c{display: flex;justify-content: center;}
.gifbadge{background-image: url(/public/static/img/gif/badge.png);background-position: 0%;background-repeat: no-repeat;background-size: 100% 100%;width: 170px;height: 154px;margin-top: -70px;}
.mem_level{color: #fff;font-size: 20px;text-align: center;position: relative;top: 125px;}
.circles{display: flex;justify-content: space-between;}
.mei{position: relative;margin-left: -28px;}
.zi{position: relative;top: -10px;right: -20px;}
.cloud{width: 100%;height: 220px;background: url(/public/static/img/gif/cloud.png) center no-repeat;margin-top: -72px;padding-top: 80px;box-sizing: border-box;}
.toreg{width: 80%;height: 50px;line-height: 50px;color: #fff;text-align: center;font-size: 24px;margin: 0 auto;background: linear-gradient(to bottom,#90d4e4,#5fadf7);border-radius: 25px;cursor: pointer;}
.lv{position: absolute;bottom:-10px;left:12px;}